.title {
  font-size: 1.7rem;
}

.wrapper_head {
  margin-bottom: 2.5rem;
}

strong {
  /* color: #afafaf; */
}

.description {
  font-size: 1.3rem;
  color: #aaaaaa;
}

.title_input {
  font-size: 1.2rem;
  font-weight: 500;
  color: #e1e1e1;
}

.title_input span {
  color: #ffffff;
}

.question_up_side {
  display: flex;
  flex-direction: column;
  background: none;
}

.question {
  font-size: 1.4rem;
  margin-top: 1rem;
}
