.logo,
.btns,
nav * {
  background: none;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #1a1e20;
  color: white;
  border-right: 2px solid transparent;
  border-image: linear-gradient(to bottom, #111, #999, #111) 1;
}

.logo {
  display: block;
  z-index: 100;
  padding: 4.5rem 3rem 3rem 3rem;

  position: relative;
}

.logo a {
  font-size: 2.35rem;
  font-weight: 700;
  background: var(--green-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  z-index: 100;
  position: relative;
}

.btns ul {
  list-style: none;
  padding: 0;
}

.btns ul li {
  margin-bottom: 1rem;
  font-weight: 600;
}

.btns ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1rem 0 1rem 2rem;
  border-radius: 2px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
}

.btns ul li a:hover {
  background: #2b30349f;
}

.btns ul li img {
  padding-right: 15px;
}

.active {
  background: #2b3034; /* Dark background for active state */
  border-right: 5px solid transparent;
  border-image: linear-gradient(to bottom, #34c069, #237349) 1;
}

.btns ul li.active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 5px; /* Толщина линии */
  height: 100%;
  background: #4caf50; /* Цвет линии (зелёный) */
  border-radius: 2px;
}

.chat_wrapper {
  width: 280px;
}

.chat_button {
  background: #2fab60;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.chat_container {
  color: white;
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease-in-out;
  padding: 0 15px;
  border-right: 4px solid transparent;
}

.chat_container.open {
  border-left: 4px dashed #2fab60; /* Появляется при открытии */
  padding: 1px;
  margin-left: 2rem;
}

.a_chats {
  padding: 2rem 0 0.5rem 2rem;
}

.li_wrap {
  display: flex;
  align-items: center;
}

.container {
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
}

/* Стили для более плавного скролла */
.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 3px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

@media (max-width: 1000px) {
  .logo {
    padding: 3rem 1.5rem 2rem 1.5rem;
    font-size: 1rem;
  }
  .logo a {
    font-size: 1.8rem;
    text-align: center;
  }

  .chat_wrapper {
    width: 230px;
  }

  .btns ul li a {
    font-size: 0.8rem !important;
  }

  .btns ul li img {
    width: 30px;
    padding-right: 10px;
  }

  .a_chats {
    padding: 1rem 0 0.5rem 1.5rem !important;
  }
}

@media (max-width: 740px) {
  .container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    /* width: 100vh; */
    height: auto;
    position: relative;
    overflow-y: unset !important;
    padding: 0.5rem 2rem;
  }

  .btns {
    display: flex;
  }
  .btns ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .btns ul li {
    margin-bottom: 0;
    /* padding-left: 2rem; */
  }

  .logo a {
    z-index: 30;
    position: relative;
    font-size: 1.5rem;
  }
  .logo {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .btns ul li a {
    padding: 0;
  }

  .active {
    background: #2b303400;
    border: none;
    border-image: linear-gradient(to bottom, #34c069, #237349) 1;
  }

  .chat_wrapper {
    max-width: 65px;
  }

  .chat_container {
    margin-left: 0 !important;
    position: absolute;
    background-color: #1a1e20c8;
    padding-top: 1rem !important;
  }

  .a_chats {
    padding: 0.4rem 0 0.4rem 1rem !important;
  }

  .btns ul li a:hover {
    background: #2b303400;
  }
}

@media (max-width: 580px) {
  .btns ul li img {
    display: none;
  }

  .chat_wrapper {
    max-width: 30px;
  }

  .btns ul li a {
    font-size: 0.7rem !important;
  }

  .chat_container.open {
    margin-left: -2rem !important;
    margin-top: 1.1rem;
  }

  .chat_container {
    margin-left: -2rem;
    padding-top: 0 !important;
  }

  .a_chats p {
    font-size: 0.7rem !important;
  }

  .a_chats {
    padding: 0.4rem 0.5rem 0.4rem 0.7rem !important;
  }
}

@media (max-width: 465px) {
  .container {
    padding: 0.5rem 1rem;
  }

  .logo a {
    font-size: 1.3rem;
  }

  .btns ul li a {
    font-size: 0.6rem !important;
  }
}

@media (max-width: 385px) {
  .container {
    padding: 0.5rem 1rem;
  }

  .logo a {
    font-size: 1.3rem;
  }

  .btns ul li a {
    font-size: 0.6rem !important;
  }

  .btns ul li {
    margin-bottom: 0;
    padding-left: 0.2rem;
  }
}

@media (max-width: 355px) {
  .logo a {
    font-size: 1.1rem;
  }
}
