.container {
  margin-left: 290px;
  padding: 3rem 4rem 0 4rem;
}

@media (max-width: 1000px) {
  .container {
    margin-left: 230px;
    padding: 1.8rem 2rem 0 2rem;
  }
}

@media (max-width: 740px) {
  .container {
    margin-left: 0px;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 1.8rem 1rem 0 1rem;
  }
}
