.component,
.left_side,
.info,
.btns,
.statistic,
.btn_aut {
  background: none !important;
}

.component {
  height: 85vh;
  display: flex;
  align-items: center;
  /* margin-bottom: 4rem; */
  justify-content: space-between;
  position: relative;
}

.left_side {
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.right_side {
  display: flex;
  align-items: end;
  background-position: center;
  background-repeat: no-repeat;
}

.right_side img {
  width: 400px;
}

.title {
  font-size: 5.3rem;
  font-weight: 700;
  line-height: 1;
  /* margin-top: 4rem; */
  position: relative;
  background: none;
  z-index: 10;
}

.title span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  width: 200px;
  height: 200px;
  background: rgba(0, 255, 100, 0.2); /* Зеленый свет */
  filter: blur(80px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title span {
  background: var(--green-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.info {
  width: 700px;
  font-weight: 200;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.btns {
  display: flex;
  margin: 2rem 0;
}

.btn_reg,
.btn_aut {
  padding: 15px 60px;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  width: 300px;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.btn_reg {
  background: linear-gradient(90deg, #237249, #35c66b);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
  margin-right: 2rem;
  z-index: 3;
}

.btn_reg:hover {
  background-position: 100% 0;
}

.btn_aut {
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 3;
}

.btn_aut:hover {
  border-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.line {
  position: absolute;
  right: -15%;
  /* left: 0%; */
  width: 60% !important;
  z-index: 1;
  bottom: 0% !important;
  background: none;
  /* transform: rotate(-400deg); */
}

.bg_anonimo {
  z-index: 2;
  background: none;
  position: relative;
}

.right_side::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 10%;
  width: 200px;
  height: 200px;
  background: rgba(181, 181, 181, 0.973); /* Зеленый свет */
  filter: blur(80px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.right_side::before {
  content: "";
  position: absolute;
  top: 70%;
  right: 0%;
  width: 250px;
  height: 250px;
  background: rgba(0, 255, 102, 0.552); /* Зеленый свет */
  filter: blur(80px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.alert_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert_box {
  background-color: #1c2023;
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #fff;
  margin: 0 10px;
  /* width: 400px; */
}

.alert_box p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #fff;
}

.alert_box button {
  background: linear-gradient(90deg, #1f8651, #0f8b3d);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 40%;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.alert_box button:hover {
  background: linear-gradient(90deg, #27a464, #14ae4c);
}
/* 
@media (min-width: 1872px) {
  .right_side::after {
    right: 20%;
  }
  .right_side::before {
    right: 10%;
  }
}

@media (min-width: 2220px) {
  .right_side::after {
    right: 25%;
  }
  .right_side::before {
    right: 15%;
  }
}

@media (min-width: 2588px) {
  .right_side::after {
    right: 26%;
  }
  .right_side::before {
    right: 20%;
  }
} */

@media (max-width: 1400px) {
  .title {
    font-size: 4rem;
  }

  .info {
    font-size: 1.1rem;
    width: 550px;
  }

  .btn_reg,
  .btn_aut {
    padding: 10px 30px;
    width: 230px;
    font-size: 1.2rem;
  }

  .btns {
    margin-bottom: 4rem;
  }
}

@media (max-width: 1200px) {
  .right_side {
    width: 320px;
  }
  .right_side img {
    width: 110%;
  }
  .right_side::after {
    right: 7%;
  }
  .right_side::before {
    right: -5%;
  }

  h2 {
    font-size: 2rem !important;
  }

  p {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 3rem;
  }

  .info {
    width: 450px;
  }

  .btn_reg,
  .btn_aut {
    padding: 10px 30px;
    width: 180px;
    font-size: 1rem;
  }

  #container_stats {
    gap: 20px !important;
  }

  .right_side::after {
    right: 10%;
    top: 35%;
  }
}

@media (max-width: 850px) {
  .bg_anonimo {
    display: none;
  }

  .line {
    left: -20%;
    top: 10%;
    width: 150vh !important;
    transform: rotate(200deg);
    opacity: 0.7;
    z-index: 1;
  }

  .right_side::after {
    display: none;
  }
  .right_side::before {
    right: -10%;
    background: rgba(0, 255, 102, 0.168); /* Зеленый свет */
  }
}

@media (max-width: 535px) {
  .left_side,
  .component {
    width: 130% !important;
    z-index: 2;
  }
  .title {
    font-size: 2.3rem;
  }

  .info {
    width: 100%;
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }

  .btns {
    margin-bottom: 3rem;
  }

  .btn_reg,
  .btn_aut {
    padding: 8px 20px;
    width: 160px;
    font-size: 0.8rem;
  }

  .btn_reg {
    margin-right: 1rem;
    z-index: 10;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 2rem;
  }

  .info {
    font-size: 0.8rem;
  }

  .btn_reg,
  .btn_aut {
    padding: 5px 8px;
    width: 130px;
    font-size: 0.7rem;
    font-weight: 400;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 1.6rem;
  }

  .info {
    font-size: 0.7rem;
  }

  .btn_reg,
  .btn_aut {
    padding: 5px 8px;
    width: 110px;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
