.wrapper_chart {
  border: 1.2px solid #ffffff00;
}

@media (max-width: 1470px) {
  .chart_mega {
    max-height: 350px !important;
    position: relative;
  }
}

@media (max-width: 1210px) {
  .chart_mega {
    max-height: 350px !important;
    position: relative;
  }
}

@media (max-width: 530px) {
  .chart_mega {
    max-height: 300px !important;
    position: relative;
  }
}

@media (max-width: 443px) {
  .wrapper_chart {
    border: 1px solid #ffffff00;
  }

  .chart_mega {
    max-height: 250px !important;
    position: relative;
    padding: 30px 10px 20px 10px !important;
    border-radius: 15px !important;
  }
}

@media (max-width: 382px) {
  .chart_mega {
    max-height: 200px !important;
    font-size: 1rem !important;
  }
}
