.container {
  display: flex;
  justify-content: space-around;
  background: none;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 50%;
}

.radio_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  background: none;
}

.radio_container input {
  display: none;
}

#box_auth {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.custom_radio {
  width: 20px;
  height: 20px;
  border: 2px solid #36d399;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 8px;
}

.value_auth {
}

.radio_container input:checked + .custom_radio {
  background: radial-gradient(circle, #36d399 40%, transparent 41%);
}

.wrapp_button_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background: none;
}

.relink_btn {
  font-size: 1.2rem;
  background: none;
  margin-top: 2rem;
}

.button_auth {
  background: linear-gradient(90deg, #237249, #35c66b);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
  text-align: center;
  border-radius: 6px;
  padding: 10px 25px;
  font-size: 1.4rem;
  width: 50%;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }
  .radio_container {
    font-size: 1.1rem;
  }
}

@media (max-width: 770px) {
  .radio_container {
    font-size: 1rem;
  }
  .button_auth {
    padding: 8px 25px;
    font-size: 1.3rem;
    width: 70%;
  }

  #box_auth {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 670px) {
  .radio_container {
    font-size: 1rem;
  }

  .relink_btn {
    font-size: 1.1rem;
  }
}

@media (max-width: 525px) {
  .container {
    margin-top: 3rem;
  }
  .radio_container {
    font-size: 0.8rem;
  }

  .button_auth {
    padding: 8px 25px;
    font-size: 1rem;
    width: 80%;
  }
}

@media (max-width: 445px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .radio_container {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .button_auth {
    padding: 8px 25px;
    font-size: 0.9rem;
    width: 80%;
  }

  .relink_btn {
    font-size: 0.9rem;
  }
}
