#active {
  margin-left: -3.4rem;
  border-radius: 30px 20px 0px 0px;
  z-index: 1;
  background: var(--green-gradient);
}

#middle {
  margin-left: -3.4rem;
  z-index: 2;
}

#stepNumber {
  background-color: #ffffff;
  color: #2fab60;
}

.input_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  background: none;
  margin: 2rem 0;
  padding-top: 2rem;
}

.input_container input {
  width: 100px;
  height: 160px;
  text-align: center;
  font-size: 2rem;
  border: 8px dashed #35c56b;
  border-radius: 10px;
  background-color: white;
  color: black;
  outline: none;
  margin: 0 1rem;
}

/* .input_container input:focus {
  border-color: limegreen;
} */
