.container {
  margin-left: 290px;
  padding: 3rem 5rem 0 5rem;
  /* display: flex; */
  /* width: 100% !important; */
}

.logo_icon {
  display: flex;
  align-items: center;
}

.container * {
  background: none;
}

.card {
  background-color: #1a1e20;
  border: 1px solid;
  border-image: linear-gradient(to right, #dadada, #99999988, #dadada) 1;
  margin-bottom: 1.5rem;
  padding: 1.8rem 3rem;
  display: flex;
  min-height: 10rem;
  /* max-width: 1500px; */
  /* justify-content: center; */
}

.info h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.up_side {
  color: #969696;
  font-weight: 400;
  font-size: 1.1rem;
}

.value {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -5px;
}

.info > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.block > div {
  flex-direction: column;
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
}

.block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 5rem;
}

.info {
  margin-left: 6rem;
  width: 60%;
}

.btn_del_account {
  border-radius: 5px;
  height: fit-content;
  padding: 10px 30px;
  outline: none;
  background-color: #2372490e;
  border: 3px solid #23724989;
  color: #e2e2e2;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn_del_account:hover {
  background-color: #23724930;
}

.btn_change_info {
  border-radius: 5px;
  border: none;
  height: fit-content;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 1.1rem;
  background: linear-gradient(90deg, #237249, #35c66b);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
  z-index: 3;
  cursor: pointer;
}

.btn_change_info:hover {
  background-position: 100% 0;
}

.btn_del_account .logo_icon {
  display: flex;
  align-items: center;
}

.modal_buttons {
  margin: 1.5rem 0;
}

@media (min-width: 1850px) {
  .info {
    width: 50%;
  }
}

@media (min-width: 2150px) {
  .info {
    width: 40%;
  }
}

@media (min-width: 1650px) {
  .card {
    justify-content: center;
  }
}

@media (max-width: 1400px) {
  .info h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .btns {
    display: flex;
    justify-content: start !important;
  }

  .btn_del_account,
  .btn_change_info {
    font-size: 0.9rem;
    padding: 10px 20px;
    margin-right: 1rem;
    height: 45px;
  }
}

@media (max-width: 1266px) {
  .card {
    /* flex-direction: column; */
    justify-content: space-between;
  }
  .info {
    margin-left: 2rem;
    width: 100%;
  }
  .logo_icon img {
    width: 150px !important;
    /* height: 30px !important; */
  }
}

@media (max-width: 1266px) {
  .card {
    /* flex-direction: column; */
    justify-content: space-between;
  }
  .info {
    margin-left: 2rem;
    width: 100%;
  }
  .logo_icon img {
    width: 150px !important;
    /* height: 30px !important; */
  }
}

@media (max-width: 1000px) {
  .container {
    margin-left: 230px;
    padding: 1.8rem 2rem 0 2rem;
  }
}

@media (max-width: 740px) {
  .container {
    margin-left: 0px;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 1.8rem 1rem 0 1rem;
  }
}
