.container {
  margin-left: 290px;
  padding: 3rem 4rem 0 4rem;
  /* display: flex; */
  /* width: 100% !important; */
}

.container * {
  background: none;
}

.card {
  background-color: #1a1e20;
  border: 1px solid;
  border-image: linear-gradient(to right, #dadada, #99999988, #dadada) 1;
  margin-bottom: 1.5rem;
  padding: 1.8rem 2rem;
  display: flex;
  min-height: 10rem;
}

.info {
  margin-left: 2rem;
}

.nickname {
  font-size: 2rem;
  font-weight: 700;
}

.company_name {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.company_name img {
  margin-right: 0.5rem;
}

.logo_icon {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .container {
    margin-left: 230px;
    padding: 1.8rem 2rem 0 2rem;
  }
}

@media (max-width: 740px) {
  .container {
    margin-left: 0px;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 1.8rem 1rem 0 1rem;
  }
}
