.container,
p,
h2,
span,
.statBlock {
  background: none;
}

.container {
  display: flex;
  gap: 40px;
}

.statBlock {
  text-align: center;
  color: #fff;
}

.number {
  font-size: 48px;
  font-weight: 400;
}

.green {
  color: #35c66b;
}

.text {
  font-size: 18px;
  color: #bbb;
  width: 7rem;
}

@media (max-width: 1000px) {
  .container {
    gap: 0px !important;
  }
}

@media (max-width: 530px) {
  .statBlock,
  h2,
  p,
  .container {
    background: none !important;
  }
}

@media (max-width: 500px) {
  .text {
    width: 6rem;
  }
}

@media (max-width: 350px) {
  .text {
    width: 5rem;
  }

  .number {
    font-size: 1.3rem !important;
  }
}
